.logowrapper{
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
}
.logo{
    margin: auto;
}

.shade{
    background-color: #34383a;
    height: 600px;
    width: 600px;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    border-radius: 30em;
    color: aliceblue;
}

.chat-window {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
}
  